
.table{
    display:table;
    width:100%;
    margin:0;
    padding:0;
    .table-row{
        display:table-row;
    }
    .table-col{
        display:table-cell;
    }
}

.image-grid{
    img{
        width:100%;
        height:auto;
        margin:0 auto 15px auto;
    }
}

#map, #singlemap{
    height:300px;
    width:100%;
}