<div class="page-header"><h1>Tasks</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <div class="row">
                <div class="col col-md-12">
                    <md-chip-list class="pull-right">
                        <md-chip class="status-chip"  [class.closed]="item.status == 'closed'" [class.open]="item.status == 'open'"  [class.new]="item.status == 'new'">{{ (item.status == 'closed') ? 'completed' : item.status }}</md-chip>
                    </md-chip-list>
                    <h4 class="card-title" *ngIf="item">Task Detail</h4>
                    <!--<div *ngIf="item.assignedDate" class="label-sub">{{ item.assignedDate | date : 'mediumDate'  }} <span>{{ item.assignedDate | date : 'shortTime'  }}</span></div>-->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-md-6" *ngIf="item">
                    <div *ngIf="item.address" class="customer-detail">
                        <md-list class="list-small">
                            <md-list-item>
                                <h4 md-line *ngIf="item">Task: {{ item.ownerName }}</h4>
                            </md-list-item>
                            <hr>
                            <md-list-item class="list-item-small" *ngIf="item.assignedDate">
                                <md-icon md-list-icon>schedule</md-icon>
                                <p md-line>
                                    <span md-line>{{ item.assignedDate | date : 'short' }}</span>
                                </p>
                            </md-list-item>
                            <md-list-item class="list-item-small">
                                <md-icon md-list-icon>email</md-icon>
                                <a md-line href="mailto:{{item.email}}">
                                    {{item.email}}
                                </a>
                            </md-list-item>
                            <md-list-item class="list-item-small">
                                <md-icon md-list-icon>call</md-icon>
                                <a md-line href="tel:{{item.tel}}">
                                    {{item.tel}}
                                </a>
                            </md-list-item>
                            <md-list-item class="list-item-small">
                                <md-icon md-list-icon>location_on</md-icon>
                                <p md-line *ngFor="let addressline of getAddressLines(item.address.formatted_address)" >
                                    {{ addressline }}
                                </p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div class="col col-md-6" *ngIf="agent">
                    <div *ngIf="agent.email" class="customer-detail">
                        <md-list class="list-small">
                            <md-list-item class="list-item-small">
                                <h4 md-line>Agent: {{agent.userName}}</h4>
                            </md-list-item>
                            <hr>
                            <md-list-item class="list-item-small">
                                <md-icon md-list-icon>email</md-icon>
                                <a md-line href="mailto:{{agent.email}}">
                                    {{agent.email}}
                                </a>
                            </md-list-item>
                            <md-list-item class="list-item-small">
                                <md-icon md-list-icon>call</md-icon>
                                <a md-line href="tel:{{agent.tel}}">
                                    {{agent.tel}}
                                </a>
                            </md-list-item>
                            <md-list-item class="list-item-small" *ngIf="agent.address" >
                                <md-icon md-list-icon>location_on</md-icon>
                                <p md-line *ngFor="let addressline of getAddressLines(agent.address.formatted_address)" >
                                    {{ addressline }}
                                </p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
            <hr>
            <div #customermap id="customermap"></div>
            <div class="row">
                <div class="col col-md-12" *ngIf="item.detail" >
                    <h4 md-line>Note:</h4>
                    <p md-line>{{item.detail}}</p>
                </div>
                <div class="col col-md-12" *ngIf="item.notes">
                    <hr>
                    <ul class="note-list">
                        <li *ngFor="let note of item.notes">
                            {{ note.note }}
                            <div class="note-date sub-label">{{ note.timestamp | date : 'mediumDate' }}</div>
                        </li>
                    </ul>
                    <a (click)="addNote()">Add Note</a>
                </div>
            </div>
            <div class="form-divider"></div>
            <div class="pull-right"  *ngIf="item.status === 'open'">
                <button md-raised-button color="primary" (click)="rescheduleAppointment()">Reschedule</button>
                <button md-raised-button (click)="cancelAppointment()">Cancel Appointment</button>
            </div>
            <button md-raised-button color="primary" (click)="editTask()" *ngIf="item.status !== 'closed'">Edit</button>
            <button md-raised-button (click)="done()">Done</button>
        </md-card-content>
    </md-card>
    <br>
    <md-card *ngIf="install" >
        <h4 class="card-title">Installation data</h4>
        <div>
            <strong>Geyser ID:</strong><br>
            {{ install.geyserId }}
        </div>
        <hr>
        <div>
            <strong>Questions:</strong><br>
            <div *ngFor="let question of install.questionsAnswers">
                <div class="row">
                    <div class="col-sm-6"><strong>{{ question.question }}</strong></div>
                    <div class="col-sm-6">{{ question.answer }}</div>
                </div>
                
            </div>
        </div>
        <hr>
        <div>
            <strong>Images:</strong><br>
            <div class="row image-grid">
                <div class="col col-sm-6" *ngFor="let img of install.images">
                    <a href="{{ img }}" target="_blank"><img [src]="img"></a>
                </div>
            </div>
        </div>
        <div *ngIf="install.customerFeedback && install.customerFeedback.length > 0" >
            <strong>Feedback:</strong><br>
            {{ install.customer_feedback }}
        </div>

    </md-card>
</div>