<div class="page-header"><h1>Tasks</h1></div>
<div class="page-container">
    <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="2px"
        fxLayoutGap.xs="0">
        <div class="filter-col" fxFlex="20%">
            <span class="filter-label">Filter By Name</span>
             <input type="text" placeholder="Filter by name" [(ngModel)]="filterObj.name" class="form-control searchControl" (ngModelChange)="filterTasks()" >
        </div>
        <div class="filter-col" fxFlex="20%">
            <span class="filter-label">Filter By Agent</span>
            <select name="hall" id="hall" value="3" [(ngModel)]="filterObj.agent" class="form-control searchSelect" (change)="filterTasks()">
                <option value="">None</option>
                <option *ngFor="let user of users" value="{{ user.id }}">{{ user.userName }}</option>
            </select>
        </div>
        <div class="filter-col" fxFlex="20%">
            <span class="filter-label">Filter By Area</span>
            <select name="hall" id="hall" value="3" [(ngModel)]="filterObj.area" class="form-control searchSelect" (change)="filterTasks()">
                <option value="">None</option>
                <option *ngFor="let area of areas; index as i" value="{{ area }}">{{ area }}</option>
            </select>
        </div>
        <div class="filter-col" fxFlex="40%">
            <span class="filter-label">Filter By Dates</span>
            <div class="">
                <p-calendar inputStyleClass="form-control" (onSelect)="filterTasks()" placeholder="Start" [(ngModel)]="filterObj.dates.start"></p-calendar>
                <p-calendar inputStyleClass="form-control" (onSelect)="filterTasks()" placeholder="End" [(ngModel)]="filterObj.dates.end"></p-calendar>
                <button md-raised-button color="primary" (click)="clearDates()">Clear Dates</button>
            </div>
        </div>
    </div>
    <md-sidenav-container class="tasks-container">
        <div class="counter">
            <span>{{ counter.count }}</span>
            <span>/</span>
            <span>{{ counter.total }}</span>
        </div>
        <md-sidenav #customerSidenav mode="over" opened="false">
            <div class="example-scrolling-content">
                <div *ngIf="selTask" class="customer-detail">
                    <md-list class="list-small">
                        <md-list-item>
                            <h4 md-line> {{selTask.ownerName}} </h4>
                        </md-list-item>
                        <hr>
                        <md-list-item class="list-item-small" *ngIf="selTask.assignedDate  && selTask.assignedDate !== 'Invalid Date'" >
                            <md-icon md-list-icon>schedule</md-icon>
                            <p md-line>
                                <span md-line>{{ selTask.assignedDate | date : 'short' }}</span>
                            </p>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>email</md-icon>
                            <a md-line href="mailto:{{selTask.email}}">
                                {{selTask.email}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>call</md-icon>
                            <a md-line href="tel:{{selTask.tel}}">
                                {{selTask.tel}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>location_on</md-icon>
                            <p md-line *ngFor="let addressline of getAddressLines(selTask.address.formatted_address)" >
                                {{ addressline }}
                            </p>
                        </md-list-item>
                    </md-list>
                    <md-list class="list-small" *ngIf="selAgent">
                        <md-list-item>
                            <h4 md-line><a href="" [routerLink]=" ['/users/user-detail'] " [queryParams]="{ id: selAgent.id }" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{selAgent.userName}}</a></h4>
                        </md-list-item>
                        <hr>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>email</md-icon>
                            <a md-line href="mailto:{{selAgent.email}}">
                                {{selAgent.email}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>call</md-icon>
                            <a md-line href="tel:{{selAgent.tel}}">
                                {{selAgent.tel}}
                            </a>
                        </md-list-item>
                    </md-list>
                    <task-notes [(task)]="selTask" [limitTo]="4"></task-notes>
                </div>
            </div>
            <div class="appointment-buttons">
                <button md-raised-button color="primary" (click)="viewTask()">View Task</button>
            </div>
        </md-sidenav>
        <md-tab-group>
            <md-tab label="Map">
                <div #singlemap id="singlemap" class="singlemap"></div>
            </md-tab>
            <md-tab label="List">
                <div  id="customerList" #customerList>
                    <md-nav-list>
                      <md-list-item *ngFor="let task of items">
                        <div 
                            class="container"
                            fxLayout
                            fxLayout.xs="column"
                            fxLayoutAlign="center"
                            fxLayoutGap="2px"
                            fxLayoutGap.xs="0"
                            >
                            <div class="list-col" fxFlex="35%" (click)="selectTask(task)">
                                <strong>Task: </strong>{{ task.ownerName }}
                            </div>
                            <div class="list-col" fxFlex="55%" (click)="selectTask(task)">
                                {{ task.assignedDate | date : 'mediumDate' }} {{ task.assignedDate | date : 'mediumTime' }}
                            </div>
                            <div class="list-col" fxFlex="10%">
                                <button class="menu-toggle" md-icon-button [mdMenuTriggerFor]="appMenu">
                                    <md-icon>more_vert</md-icon>
                                </button>
                                <md-menu #appMenu="mdMenu" yPosition="above">
                                    <button md-menu-item (click)="selectTask(task)"> Edit </button>
                                    <button md-menu-item (click)="deleteItem(task)"> Delete </button>
                                </md-menu>
                            </div>
                        </div>
                      </md-list-item>
                    </md-nav-list>
                </div>
            </md-tab>
        </md-tab-group>
    </md-sidenav-container>
</div>