<div class="page-header"><h1>Users</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
        <md-nav-list *ngIf="items" >
            <md-list-item *ngFor="let item of items">
                <div class="container"
                    fxLayout
                    fxLayout.xs="column"
                    fxLayoutAlign="center"
                    fxLayoutGap="2px"
                    fxLayoutGap.xs="0"
                    [routerLink]=" ['./user-detail'] "
                    [queryParams]="{ id: item.id }"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]= "{exact: true}">
                    <div class="list-col" fxFlex="30%">
                        {{item.userName}}
                    </div>
                    <div class="list-col list-col-detail" fxFlex="30%">
                    {{ item.email }}
                    </div>
                    <div class="list-col list-col-detail" fxFlex="20%">
                        {{ item.role_name }}
                    </div>
                    <div class="list-col list-col-detail" fxFlex="20%">
                        <span *ngIf="user.userDetail.role <= 101">{{ item.company_name }}</span>
                    </div>
                </div>
                <button class="menu-toggle" md-icon-button [mdMenuTriggerFor]="appMenu">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #appMenu="mdMenu" yPosition="above">
                    <button md-menu-item [routerLink]=" ['./user-detail'] " [queryParams]="{ id: item.id }"
                routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> Edit </button>
                    <button md-menu-item (click)="deleteItem(item)"> Delete </button>
                </md-menu>
            </md-list-item>
        </md-nav-list>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" [routerLink]=" ['./user-detail'] " [queryParams]="{ id: 0 }"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add</button>
        </md-card-actions>
    </md-card>
</div>