<div class="page-header"><h1>Task Detail</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <form #pageForm="ngForm" (ngSubmit)="onSubmit()" class="page-form">
                <md-list>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Name" [(ngModel)]="item.ownerName" name="name" id="name" #name="ngModel" required>
                            <md-error *ngIf="name.errors && (name.dirty || name.touched)"
                                >
                                <div [hidden]="!name.errors.required">
                                Name is required
                                </div>
                            </md-error>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Email" [(ngModel)]="item.email" type="email" name="emailFld" id="emailFld" #emailFld="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <md-error *ngIf="emailFld.errors && (emailFld.dirty || emailFld.touched)">
                                <div  *ngIf="emailFld.errors && emailFld.errors.required">
                                    Email is required
                                </div>
                                <div  *ngIf="emailFld.errors && emailFld.errors.pattern">
                                    Email is invalid
                                </div>
                            </md-error>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Phone Number" pattern="[0-9]+" [(ngModel)]="item.tel" type="tel" name="telFld" id="telFld" #telFld="ngModel" maxlength="10"
               minlength="10" required>
                            <md-error *ngIf="telFld.errors && (telFld.dirty || telFld.touched)"
                                >
                                <div  *ngIf="telFld.errors && telFld.errors.required">
                                    Phone number is required
                                </div>
                                <div  *ngIf="telFld.errors && (telFld.errors.pattern || telFld.errors.minlength || telFld.errors.maxlength)">
                                    Phone number is invalid
                                </div>
                            </md-error>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput type="text" #addressFld id="addressFld" name="addressFld"
                                placeholder="Address" [(ngModel)]="addressFldVal" required>
                        </md-input-container>
                    </md-list-item>
                </md-list>
                <div>
                    <div #smallmap id="smallmap" class="smallmap"></div>
                </div>
                <md-list-item class="form-list-item">
                    <md-input-container>
                        <textarea mdInput placeholder="Detail" [(ngModel)]="item.detail" rows="4" name="detail" id="detail" #detail="ngModel"></textarea>
                    </md-input-container>
                </md-list-item>
                <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Save</button>
                <button md-raised-button (click)="cancel()">Cancel</button>
            </form>
        </md-card-content>
    </md-card>
</div>