<div class="page-header"><h1>Users Details</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <div class="row">
                <div class="col col-md-6">
                    <form #pageForm="ngForm" (ngSubmit)="onSubmit()">
                        <md-list>
                            <p class="form-list-item">
                                <md-input-container>
                                    <input mdInput placeholder="Name" [(ngModel)]="item.userName" name="name" id="name" #name="ngModel" minlength="4" maxlength="24" required>
                                    <md-error *ngIf="name.errors && (name.dirty || name.touched)">
                                    <div [hidden]="!name.errors.required">
                                        Name is required
                                        </div>
                                        <div [hidden]="!name.errors.minlength">
                                        Name must be at least 4 characters long.
                                        </div>
                                        <div [hidden]="!name.errors.maxlength">
                                        Name cannot be more than 24 characters long.
                                        </div>
                                    </md-error>
                                </md-input-container>
                            </p>
                            <p class="form-list-item">
                                <md-input-container>
                                    <textarea mdInput placeholder="Description" [(ngModel)]="item.detail" name="detail" id="detail" #detail="ngModel"></textarea>
                                </md-input-container>
                            </p>
                            <p class="form-list-item">
                                <md-input-container>
                                    <input mdInput placeholder="Tel" [(ngModel)]="item.tel" type="tel" name="telFld" id="telFld" #telFld="ngModel" maxlength="10"
                                        minlength="10" required>
                                    <md-error *ngIf="telFld.errors && (telFld.dirty || telFld.touched)">
                                        <div  *ngIf="telFld.errors && telFld.errors.required">
                                            Phone number is required
                                        </div>
                                        <div  *ngIf="telFld.errors && (telFld.errors.pattern || telFld.errors.minlength || telFld.errors.maxlength)">
                                            Phone number is invalid
                                        </div>
                                    </md-error>
                                </md-input-container>
                            </p>
                            <p class="form-list-item">
                                <md-input-container>
                                    <input mdInput placeholder="Email" [(ngModel)]="item.email" type="email"  name="emailFld" id="emailFld" #emailFld="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    <md-error *ngIf="emailFld.errors && (emailFld.dirty || emailFld.touched)">
                                        <div  *ngIf="emailFld.errors && emailFld.errors.required">
                                            Email is required
                                        </div>
                                        <div  *ngIf="emailFld.errors && emailFld.errors.pattern">
                                            Email is invalid
                                        </div>
                                    </md-error>
                                </md-input-container>
                            </p>
                            <p class="form-list-item">
                                <md-input-container>
                                    <input mdInput placeholder="Address" [(ngModel)]="address_text" type="text" name="address" id="address" #address="ngModel">
                                </md-input-container>
                            </p>
                            <p class="form-list-item" *ngIf="user.userDetail.role < 102">
                                <md-select placeholder="Roles" class="select-standard" [(ngModel)]="item.roleId" (change)="roleChange($event)" name="role" id="role" #role="ngModel">
                                    <md-option *ngFor="let role of roles" [value]="role.id">
                                        {{ role.role }}
                                    </md-option>
                                </md-select>
                            </p>
                            <p class="form-list-item" *ngIf="user.userDetail.role < 102">
                                <md-select placeholder="Company" class="select-standard" [(ngModel)]="item.companyId" name="company" id="company" #company="ngModel">
                                    <md-option *ngFor="let company of companies" [value]="company.id">
                                        {{ company.name }}
                                    </md-option>
                                </md-select>
                            </p>
                        </md-list>
                        <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Save</button>
                        <button md-raised-button [routerLink]=" ['../../../users'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancel</button>
                    </form>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>