<div class="page-header"><h1>Companies</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
        <md-list *ngIf="items" >
            <md-list-item *ngFor="let item of items">
            <a class="item-link" href="" [routerLink]=" ['./company-detail'] " [queryParams]="{ id: item.id }"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">{{item.name}}</a>
            <button class="menu-toggle" md-icon-button [mdMenuTriggerFor]="appMenu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #appMenu="mdMenu" yPosition="above">
                <button md-menu-item [routerLink]=" ['./company-detail'] " [queryParams]="{ id: item.id }"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> Edit </button>
                <button md-menu-item (click)="deleteItem(item)"> Delete </button>
            </md-menu>
            </md-list-item>
        </md-list>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" [routerLink]=" ['./company-detail'] " [queryParams]="{ id: 0 }"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add</button>
        </md-card-actions>
    </md-card>
</div>