<form #pageForm="ngForm" (ngSubmit)="onSubmit()">
    <md-card class="login-card">
            <md-card-header color="primary">
                <h1>Login</h1>
            </md-card-header>
            <md-card-content>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Username" [(ngModel)]="user.username" type="text" name="username" id="username" #username="ngModel" required>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" id="password" #password="ngModel" required>
                        </md-input-container>
                    </md-list-item>
                <div>
                <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Login</button>
                <button md-raised-button [routerLink]=" ['./../register'] "
                        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Register</button>
                </div>
            </md-card-content>
    </md-card>
</form>