<ul class="note-list note-list-small">
    <li><h4>Notes</h4><div class="note-date"><a *ngIf="hasMore()" class="viewall-btn" (click)="viewAll()">View All</a></div></li>
    <hr>
    <li *ngFor="let note of getNotes()">
        {{ note.note }}
        <div class="note-date label-sub">{{ note.timestamp | date : 'mediumDate' }}</div>
    </li>
</ul>
<div *ngIf="getNotes().length === 0" class="pull-center">No notes</div>
<a (click)="addNote()">Add</a>