<div class="page-header"><h1>Company Details</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <form #pageForm="ngForm" (ngSubmit)="onSubmit()" class="page-form">
                <md-list>
                    <p class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Name" [(ngModel)]="item.name" #name="ngModel" id="name" name="name"  minlength="4" maxlength="24" required>
                            <md-error *ngIf="name.errors && (name.dirty || name.touched)">
                                <div [hidden]="!name.errors.required">
                                Name is required
                                </div>
                                <div [hidden]="!name.errors.minlength"> 
                                Name must be at least 4 characters long.
                                </div>
                                <div [hidden]="!name.errors.maxlength">
                                Name cannot be more than 24 characters long.
                                </div>
                            </md-error>
                        </md-input-container>
                    </p>
                    <p class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Tel" [(ngModel)]="item.tel" type="tel" name="telFld" id="telFld" #telFld="ngModel" maxlength="10"
                                minlength="10" required>
                            <md-error *ngIf="telFld.errors && (telFld.dirty || telFld.touched)"
                                >
                                <div  *ngIf="telFld.errors && telFld.errors.required">
                                    Phone number is required
                                </div>
                                <div  *ngIf="telFld.errors && (telFld.errors.pattern || telFld.errors.minlength || telFld.errors.maxlength)">
                                    Phone number is invalid
                                </div>
                            </md-error>
                        </md-input-container>
                    </p>
                    <p class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Email" [(ngModel)]="item.email" type="email" name="emailFld" id="emailFld" #emailFld="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <md-error *ngIf="emailFld.errors && (emailFld.dirty || emailFld.touched)">
                                <div  *ngIf="emailFld.errors && emailFld.errors.required">
                                    Email is required
                                </div>
                                <div  *ngIf="emailFld.errors && emailFld.errors.pattern">
                                    Email is invalid
                                </div>
                            </md-error>
                        </md-input-container>
                    </p>
                    <p class="form-list-item">
                        <md-input-container>
                            <textarea mdInput placeholder="Description" name="detail" id="detail" [(ngModel)]="item.detail"></textarea>
                        </md-input-container>
                    </p>
                </md-list>
                <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Save</button>
                <button md-raised-button [routerLink]=" ['../../../companies'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancel</button>
            </form>
        </md-card-content>
    </md-card>
</div>