/* This file is for setting global styles  */
@import '~@angular/material/_theming.scss';

@include mat-core();
$lighgrey: #fafafa;
$primary: mat-palette($mat-orange);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

$new: #358a91;
$pending: #636363;
$pendng: #636363;
$open: #ff6500;
$closed: #f6a623;
@include angular-material-theme($theme);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .example-scrolling-content{
    width:280px;
    margin-bottom:60px;
  }
  mat-sidenav {
    min-width: 280px;
    [mat-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 32px;
  }

  mat-toolbar {
    mat-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
}
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}
#sidenav{
  a{
    text-decoration: none !important;
    &.active {
      background-color: $lighgrey;
      color: map-get($primary, 500) !important;
    }
  }
}
html, body, material-app, md-sidenav-container, .content-base, .content-base {
  margin: 0;
  width: 100%;
  height: 100%;
}
.content-base{
  
}







/* Layout */
md-sidenav {
  width: 280px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.padding{
  padding:20px;
}
.toolbar-nav{
  position:absolute;
  top:10px;
  right:10px;
  vertical-align: center;
  md-button{
    border-radius: 50%;
    z-index: 1;
  }
}
.toolbar-name{
  font-size:16px;
  color:#FFF;
  display:inline-block;
  text-align:right;
  padding-right:10px;
  margin-top:10px;
  line-height:0.8em;
  .label-sub{
    color:#FFF;
  }
}
.container{
  width:100%;

  &:focus{
    outline: 0;
  }
}
.list-col{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.list-col-detail{
    font-size:.8em;
    color:#333;
  }
}
.filter-col{
  white-space: nowrap;
  text-overflow: ellipsis;

  &.filter-col-detail{
    font-size:.8em;
    color:#333;
  }
}
.label-sub{
  font-size:.8em;
  color:#333;
}



.select-standard{
  margin:10px 0;
}
.login-card{
  max-width:300px;
  margin:0 auto;
}
.item-link{
  color:#000;
  text-decoration:none;
}
.menu-toggle{
    position: absolute !important;
    right: 0;
    top: 50%;
    margin-top: -20px !important;
}

.company-logo{
  img{
    width:auto;
    height:40px;
  }
}
/* FORMS */
.card-title{
  margin-top:0;
}
.page-form{
  /*max-width:500px;*/
}
.form-list-item{
  md-input-container, md-select{
    width:100%;
  }
}

#singlemap, .singlemap{
    height:500px;
    width:100%;
}
#customermap, .customermap{
    height:250px;
    width:100%;
}
#smallmap, .smallmap{
  width:100%;
  height:250px;
}
#customerList{
    height:500px;
    overflow-y:scroll;
}

#companySelect{
  color: #333;
  position:absolute;
  font-size:12px;
  right:10px;
  top:70px;
  text-align: right;
  md-select{
    width:120px;
    .mat-select-trigger{
      font-size:12px;
    }
  }
}
.appointment-buttons{
    position:absolute;
    bottom:10px;
    width:100%;
    padding-right:20px;
    text-align: center;
}
.customer-detail{
  font-size:12px;
}
/* hacks */
.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}
.tabspacer{
  min-height:48px;
}
.selectForm{
  margin-top:20px;
}
.align-right{
  text-align:right;
}
a {outline : none !important;}
.calendar--day{
  width:14.2%;
}
.form-divider{
  padding:20px 0;
}
.page-header{
  margin:0;
  margin-bottom:10px;
  h1{
    margin:0 0 10px 0;
  }
}
.searchControl, .searchSelect{
  width:100%;
}

.top-header{
  background-color:rgba(92,92,92,.5);
  color:#FFF;
}
.datetime-picker{
  input[type="text"]{
    width:100%;
  }
}


.list-small{
  hr{
    margin:5px 0 !important;
  }
  .mat-list-item-content{
    padding:2px 5px !important;
    font-size: 12px !important;
    height: auto !important;
    min-height: 20px !important;
    align-items: flex-start !important;
  }
  .mat-list-icon{
    width: 18px !important;
    height: 18px !important;
    font-size: 18px !important;
    padding: 2px !important;
  }
  .list-item-small{
    font-size:12px;
  }
  .mat-line{
    font-size:12px !important;
  }
  h4.mat-line{
    font-size:16px !important;
    padding:5px !important;
  }
}

.status-chip{
  &.closed{
    background-color:$closed;
  }
  &.new{
    background-color:$new;
  }
  &.open{
    background-color:$open;
  }
  &.pending{
    background-color:$pending;
  }
  &.cancelled{
    background-color:$pending;
  }
}

.customer-detail{
    padding:0 10px;
    height:100%;
}

#customerList{
    height:500px;
    overflow-y:scroll;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

.tasks-container{
  position:relative;
  .counter{
    margin-right:5px;
    font-size:16px;
    font-weight:bold;
    position:absolute;
    top:15px;
    right:0;
  }
}

.note-list{
  margin:0;
  padding:0;
  list-style: none;
  padding-top: 8px;
  hr{
    margin:5px 0 !important;
  }
  h4{
    font-size:16px !important;
    padding:5px 0px !important;
    margin:0;
  }
  li{
    position:relative;
    padding: 0 100px 10px 0;
    word-wrap: break-word;
    .note-date{
      text-align: right;
      position: absolute;
      top:0;
      right:0;
      width:100px;
    }
  }

  &.note-list-small{
    li{
      padding: 0px 65px 5px 5px;
      .note-date{
        width:65px;
      }
    }
  }
}