<md-sidenav-container>
  <md-sidenav id="sidenav" mode="side" opened="true" color="primary" *ngIf="authed && user.userDetail.role">
    <md-toolbar class="top-header">
      <div class="company-logo">
        <img src="assets/img/sensor.png" />
      </div>
    </md-toolbar>
    <md-list>
      <h3 md-subheader>Main Navigation</h3>
      <a *ngIf="user.userDetail.role <= 400"  md-list-item [routerLink]=" ['./dashboard'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Dashboard
      </a>
      <a  *ngIf="user.userDetail.role <= 400" md-list-item [routerLink]=" ['./appointments'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Unscheduled Tasks
      </a>
      <a  *ngIf="user.userDetail.role <= 400" md-list-item [routerLink]=" ['./tasks'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Scheduled Tasks
      </a>
      <a  *ngIf="user.userDetail.role <= 400" md-list-item [routerLink]=" ['./tasks-install'] "
        [queryParams]="{ status: 'closed' }"
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Completed Tasks
      </a>
      <md-divider *ngIf="user.userDetail.role <= 200"></md-divider>
      <h3 *ngIf="user.userDetail.role <= 200" md-subheader>Admin</h3>
      <a  *ngIf="user.userDetail.role <= 200" md-list-item [routerLink]=" ['./users'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Users
      </a>
      <!--<a  *ngIf="user.userDetail.role <= 101" md-list-item [routerLink]=" ['./customers'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Customers
      </a>-->
      <md-divider *ngIf="user.userDetail.role <= 101"></md-divider>
      <h3 *ngIf="user.userDetail.role <= 101" md-subheader>Super User</h3>
      <a  *ngIf="user.userDetail.role <= 101" md-list-item [routerLink]=" ['./companies'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Companies
      </a>
      <a  *ngIf="user.userDetail.role <= 100" md-list-item [routerLink]=" ['./roles'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Roles
      </a>
    </md-list>
  </md-sidenav>
  <div class="content-base">
    <md-toolbar class="top-header" *ngIf="authed">
      Sensordesk
      <div class="toolbar-nav">
        <div class="toolbar-name">
        {{user.userDetail.name}}<br />
        <span class="label-sub">{{user.userDetail.email}}</span>
        </div>
        <a md-icon-button [mdMenuTriggerFor]="appMenu"><md-icon>account_circle</md-icon></a>
      </div>
      <md-menu #appMenu="mdMenu">
        <button md-menu-item [routerLink]=" ['/users'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> Settings </button>
        <button md-menu-item (click)="signOut()" > Logout </button>
      </md-menu>
      <div id="companySelect" *ngIf="user.userDetail.role <= 101">
        browsing as <br>
        <md-select [(ngModel)]="company" name="companyFld" id="companyFld" *ngIf="companies" (change)="setCompany($event.value)">
            <md-option *ngFor="let company of companies" [value]="company.id">
                {{ company.name }}
            </md-option>
        </md-select>
      </div>
      
    </md-toolbar>
    <main class="padding">
      <router-outlet></router-outlet>
    </main>
  </div>
</md-sidenav-container>



    
