<div class="page-header"><h1>Appointment</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <form class="selectForm" #pageForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-list-item">
                    <md-select mdInput placeholder="Select an agent" [(ngModel)]="item.userId" name="agentFld" id="agentFld" #agentFld="ngModel" (change)="getAgentDetail($event.value)">
                        <md-option [value]="">None</md-option>
                        <md-option *ngFor="let agent of agents" [value]="agent.id">
                            {{ agent.userName }}
                        </md-option>
                    </md-select>
                </div>
            </form>
            <div class="container">
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-divider"></div>
                            <div>
                                <p>
                                    <p-schedule [events]="events" [timezone]="'local'" [header]="header" [eventRender]="eventRenderer"  (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
                                    <!--<angular2-fullcalendar [options]="calendarOptions" (initialized)="onCalendarInit($event)"></angular2-fullcalendar>-->
                                </p>
                                <!-- <ngx-datetime-picker class="datetime-picker" [(selectedDateTime)]="item.date"></ngx-datetime-picker>-->
                                <!-- <datetime [(ngModel)]="item.date" name="dtpicker" [timepicker]="" [datepicker]=""></datetime> -->
                                <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
                                    [style]="{'overflow':'visible'}" [resizable]="false">
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="tempevent">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4"><label for="start">Time</label></div>
                                            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="tempevent.start" timeOnly="true" hourFormat="24"></p-calendar></div>
                                        </div>
                                    </div>
                                    <p-footer>
                                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                            <!--<button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>-->
                                            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!tempevent?.start"></button>
                                        </div>
                                    </p-footer> 
                                </p-dialog>
                            </div>
                            <div class="form-divider"></div>
                        </div>
                        <div class="col col-md-6">
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="section" *ngIf="item.email">
                                        <h3>Task:</h3>
                                        <md-list class="list-small">
                                            <md-list-item>
                                                <h4 md-line><a (click)="editTask()">{{item.ownerName}}</a></h4>
                                            </md-list-item>
                                            <hr>
                                            <md-list-item class="list-item-small">
                                                <md-icon md-list-icon>email</md-icon>
                                                <a md-line href="mailto:{{item.email}}">
                                                    {{item.email}}
                                                </a>
                                            </md-list-item>
                                            <md-list-item class="list-item-small">
                                                <md-icon md-list-icon>call</md-icon>
                                                <a md-line href="tel:{{item.tel}}">
                                                    {{item.tel}}
                                                </a>
                                            </md-list-item>
                                            <md-list-item class="list-item-small">
                                                <md-icon md-list-icon>location_on</md-icon>
                                                <p md-line *ngFor="let addressline of getAddressLines(item.address.formatted_address)" >
                                                    {{ addressline }}
                                                </p>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <hr>
                                    <p class="form-list-item">
                                        {{ item.detail }}
                                    </p>
                                </div>
                                <div class="col col-md-6">
                                    <h3>Installer:</h3>
                                    <div class="section"  *ngIf="!agent || !agent.userName">
                                        <p>No Installer</p>
                                    </div>
                                    <div class="section"  *ngIf="agent && agent.userName">
                                        
                                        <md-list class="list-small">
                                            <md-list-item>
                                                <h4 md-line><a href="" [routerLink]=" ['/users/user-detail'] " [queryParams]="{ id: agent.id }" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{agent.userName}}</a></h4>
                                            </md-list-item>
                                            <hr>
                                            <md-list-item class="list-item-small">
                                                <md-icon md-list-icon>email</md-icon>
                                                <a md-line href="mailto:{{agent.email}}">
                                                    {{agent.email}}
                                                </a>
                                            </md-list-item>
                                            <md-list-item class="list-item-small">
                                                <md-icon md-list-icon>call</md-icon>
                                                <a md-line href="tel:{{agent.tel}}">
                                                    {{agent.tel}}
                                                </a>
                                            </md-list-item>
                                            <md-list-item class="list-item-small" *ngIf="agent.address && agent.address.formatted_address">
                                                <md-icon md-list-icon>location_on</md-icon>
                                                <p md-line *ngFor="let addressline of getAddressLines(agent.address.formatted_address)" >
                                                    {{ addressline }}
                                                </p>
                                            </md-list-item>
                                        </md-list>
                                        <!--
                                        <div *ngIf="agentTasks && agentTasks.length > 0" >
                                            <hr>
                                            <strong>Schedule:</strong>
                                            <md-list class="list-small">
                                                <md-list-item *ngFor="let agentTask of agentTasks" [hidden]="!agentTask.assignedDate || agentTask.assignedDate == 'Invalid Date'">
                                                    <span md-line>{{ agentTask.assignedDate | date : 'medium' }}</span>
                                                </md-list-item>
                                            </md-list>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-12">
                                    <task-notes [(task)]="item" [limitTo]="4"></task-notes>
                                </div>
                                <div class="col col-md-12">
                                    <hr>
                                    <!--<button md-raised-button color="primary" type="submit">Save</button>-->
                                        <button md-raised-button color="primary" type="button" (click)="saveAsTask()" [disabled]="!agent || !agent.userName || !(event && event.start)">Schedule</button>
                                    
                                    <!--<button md-raised-button color="primary" type="button" (click)="saveTask()" [disabled]="false">Save</button>-->
                                    <button md-raised-button [routerLink]=" ['../../../appointments'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </md-card-content>
    </md-card>
</div>