<div class="page-header"><h1>Customers Details</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <form #pageForm="ngForm" (ngSubmit)="onSubmit()" class="page-form">
                <md-list>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Name" [(ngModel)]="item.name" name="name" id="name" #name="ngModel" minlength="4" maxlength="24" required>
                            <md-error *ngIf="name.errors && (name.dirty || name.touched)"
                                >
                                <div [hidden]="!name.errors.required">
                                Name is required
                                </div>
                                <div [hidden]="!name.errors.minlength">
                                Name must be at least 4 characters long.
                                </div>
                                <div [hidden]="!name.errors.maxlength">
                                Name cannot be more than 24 characters long.
                                </div>
                            </md-error>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <textarea mdInput placeholder="Description" [(ngModel)]="item.detail" name="detail" id="detail" #detail="ngModel"></textarea>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Email" [(ngModel)]="item.email" type="email" name="emailFld" id="emailFld" #emailFld="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <md-error *ngIf="emailFld.errors && (emailFld.dirty || emailFld.touched)">
                                <div  *ngIf="emailFld.errors && emailFld.errors.required">
                                    Email is required
                                </div>
                                <div  *ngIf="emailFld.errors && emailFld.errors.pattern">
                                    Email is invalid
                                </div>
                            </md-error>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="form-list-item">
                        <md-input-container>
                            <input mdInput placeholder="Address" [(ngModel)]="item.address" type="text" name="address" id="address" #address="ngModel">
                        </md-input-container>
                    </md-list-item>
                </md-list>
                <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Save</button>
                <button md-raised-button [routerLink]=" ['../../../customers'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancel</button>
            </form>
        </md-card-content>
    </md-card>
</div>