<div class="page-header"><h1>Roles</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <md-list *ngIf="items" >
                <md-list-item *ngFor="let item of items">
                    <div class="container"
                        fxLayout
                        fxLayout.xs="column"
                        fxLayoutAlign="center"
                        fxLayoutGap="2px"
                        fxLayoutGap.xs="0">
                        <div class="list-col" fxFlex="90%">
                            <a class="item-link" href="" [routerLink]=" ['./role-detail'] " [queryParams]="{ id: item.key }"
                        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">{{item.role}}</a>
                        </div>
                        <div class="list-col" fxFlex="10%">
                            <button class="menu-toggle" md-icon-button [mdMenuTriggerFor]="appMenu">
                                <md-icon>more_vert</md-icon>
                            </button>
                            <md-menu #appMenu="mdMenu" yPosition="above">
                                <button md-menu-item [routerLink]=" ['./role-detail'] " [queryParams]="{ id: item.key }"
                            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> Edit </button>
                                <button md-menu-item (click)="deleteItem(item)"> Delete </button>
                            </md-menu>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" [routerLink]=" ['./role-detail'] " [queryParams]="{ id: 0 }"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add</button>
        </md-card-actions>
    </md-card>
</div>