<div class="page-header"><h1>Dashboard</h1></div>
<div class="page-container">
  <div fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="2px"
    fxLayoutGap.xs="0">
    <div class="filter-col" fxFlex="20%">
        <span class="filter-label">Filter By Name</span>
        <input type="text" placeholder="Filter by name" [(ngModel)]="filterObj.name" class="form-control searchControl" (ngModelChange)="filterTasks()" >
    </div>
    <div class="filter-col" fxFlex="20%">
        <span class="filter-label">Filter By Agent</span>
        <select name="hall" id="hall" value="3" [(ngModel)]="filterObj.agent" class="form-control searchSelect" (change)="filterTasks()">
            <option value="">None</option>
            <option *ngFor="let user of users" value="{{ user.id }}">{{ user.userName }}</option>
        </select>
    </div>
    <div class="filter-col" fxFlex="20%">
        <span class="filter-label">Filter By Area</span>
        <select name="hall" id="hall" value="3" [(ngModel)]="filterObj.area" class="form-control searchSelect" (change)="filterTasks()">
            <option value="">None</option>
            <option *ngFor="let area of areas; index as i" value="{{ area }}">{{ area }}</option>
        </select>
    </div>
    <div class="filter-col" fxFlex="40%">
        <span class="filter-label">Filter By Date</span>
        <div class="">
            <p-calendar inputStyleClass="form-control" (onSelect)="filterTasks()" placeholder="Start" [(ngModel)]="filterObj.dates.start"></p-calendar>
            <p-calendar inputStyleClass="form-control" (onSelect)="filterTasks()" placeholder="End" [(ngModel)]="filterObj.dates.end"></p-calendar>
            <button md-raised-button color="primary" (click)="clearDates()">Clear Dates</button>
        </div>
    </div>
</div>
  <md-sidenav-container class="tasks-container">
        <div class="counter">
            <span>{{ counter.count }}</span>
            <span>/</span>
            <span>{{ counter.total }}</span>
        </div>
        <div class="tabspacer"></div>
        <md-sidenav #customerSidenav mode="over" opened="false">
            <div class="example-scrolling-content">
                <div *ngIf="selTask" class="customer-detail">
                    <md-list class="list-small">
                        <md-list-item>
                            <h4 md-line> {{selTask.ownerName}} </h4>
                        </md-list-item>
                        <hr>
                        <md-list-item class="list-item-small" *ngIf="selTask.assignedDate  && selTask.assignedDate !== 'Invalid Date'" >
                            <md-icon md-list-icon>schedule</md-icon>
                            <p md-line>
                                <span md-line>{{ selTask.assignedDate | date : 'short' }}</span>
                            </p>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>email</md-icon>
                            <a md-line href="mailto:{{selTask.email}}">
                                {{selTask.email}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>call</md-icon>
                            <a md-line href="tel:{{selTask.tel}}">
                                {{selTask.tel}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>location_on</md-icon>
                            <p md-line *ngFor="let addressline of getAddressLines(selTask.address.formatted_address)" >
                                {{ addressline }}
                            </p>
                        </md-list-item>
                    </md-list>
                    <md-list class="list-small" *ngIf="selAgent">
                        <md-list-item>
                            <h4 md-line><a href="" [routerLink]=" ['/users/user-detail'] " [queryParams]="{ id: selAgent.id }" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{selAgent.userName}}</a></h4>
                        </md-list-item>
                        <hr>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>email</md-icon>
                            <a md-line href="mailto:{{selAgent.email}}">
                                {{selAgent.email}}
                            </a>
                        </md-list-item>
                        <md-list-item class="list-item-small">
                            <md-icon md-list-icon>call</md-icon>
                            <a md-line href="tel:{{selAgent.tel}}">
                                {{selAgent.tel}}
                            </a>
                        </md-list-item>
                    </md-list>
                    <task-notes [(task)]="selTask" [limitTo]="4"></task-notes>
                    <div class="appointment-buttons">
                        <button md-raised-button color="primary" style="width:100%;" (click)="openTask(selTask)">View Task</button>
                    </div>
                </div>
            </div>
            
        </md-sidenav>
        <div #singlemap id="singlemap" class="singlemap"></div>
    </md-sidenav-container>
    <md-card>
        <md-nav-list>
          <md-list-item *ngFor="let task of items">
            <div 
                class="container"
                fxLayout
                fxLayout.xs="column"
                fxLayoutAlign="center"
                fxLayoutGap="2px"
                fxLayoutGap.xs="0"
                (click)="openTask(task)"
                >
                <div class="list-col" fxFlex="35%">
                    <strong *ngIf="task.status == 'open'">Task: </strong>
                    <strong *ngIf="task.status == 'closed'">Completed: </strong>
                    <strong *ngIf="task.status == 'new'">Appointment: </strong>
                    {{ task.ownerName }}
                </div>
                <div class="list-col" fxFlex="30%">
                    <span *ngIf="task.assignedDate" >{{ task.assignedDate | date : 'mediumDate' }} {{ task.assignedDate | date : 'mediumTime' }}</span>
                    <span *ngIf="!task.assignedDate"><em>Unscheduled</em></span>
                </div>
                <div class="list-col" fxFlex="25%">
                    {{ task.type }}
                </div>
                <div class="list-col" class="pull-right" fxFlex="10%">
                    <md-chip-list class="pull-right">
                        <md-chip class="status-chip"  [class.closed]="task.status == 'closed'" [class.open]="task.status == 'open'"  [class.new]="task.status == 'new'">{{ (task.status == 'closed') ? 'completed' : task.status }}</md-chip>
                    </md-chip-list>
                </div>
            </div>
          </md-list-item>
        </md-nav-list>
    </md-card>
</div>