<div class="page-header"><h1>Role Details</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <form #pageForm="ngForm" (ngSubmit)="onSubmit()" class="page-form">
                <md-list>
                    <p class="form-list-item">
                        <md-input-container class="full-width-input">
                            <input mdInput placeholder="Name" [(ngModel)]="item.role" #name="ngModel" id="name" name="name"  minlength="4" maxlength="24" required>
                            <md-error *ngIf="name.errors && (name.dirty || name.touched)"
                                >
                                <div [hidden]="!name.errors.required">
                                Name is required
                                </div>
                                <div [hidden]="!name.errors.minlength">
                                Name must be at least 4 characters long.
                                </div>
                                <div [hidden]="!name.errors.maxlength">
                                Name cannot be more than 24 characters long.
                                </div>
                            </md-error>
                        </md-input-container>
                    </p>
                    <p class="form-list-item">
                        <md-select  class="full-width-input" placeholder="Roles*" name="role" id="role" [(ngModel)]="item.code" #role="ngModel" required>
                            <md-option *ngFor="let role of roles" [value]="role.id">
                                {{ role.name }}
                            </md-option>
                        </md-select>
                    </p>
                </md-list>
                <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Save</button>
                <button md-raised-button [routerLink]=" ['../../../roles'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancel</button>
            </form>
        </md-card-content>
    </md-card>
</div>