<md-card class="login-card">
    <md-card-header color="primary">
        <h1>Register</h1>
    </md-card-header>
    <md-card-content>
        <form #pageForm="ngForm" (ngSubmit)="onSubmit()">
           <md-list-item class="form-list-item">
                <md-input-container>
                    <input mdInput placeholder="Name" [(ngModel)]="user.name" type="text" name="name" id="name" #name="ngModel" required>
                </md-input-container>
            </md-list-item>
            <md-list-item class="form-list-item">
                <md-input-container>
                    <input mdInput placeholder="Email" [(ngModel)]="user.username" type="email" name="username" id="username" #username="ngModel" required>
                </md-input-container>
            </md-list-item>
            <md-list-item class="form-list-item">
                <md-input-container>
                    <input mdInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" id="password" #password="ngModel" required>
                </md-input-container>
            </md-list-item>
            <button md-raised-button color="primary" type="submit" [disabled]="!pageForm.form.valid">Register</button>
            <button md-raised-button [routerLink]=" ['./../login'] "
                    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Login</button>
        </form>
    </md-card-content>
</md-card>