.error-cell{
    background-color: rgba(255,0,0,.25);
}

.success-cell{
    background-color: rgba(0,255,0,.25);
}
.error-msg{
    background-color: rgba(255,0,0,.25);
    padding:10px;
    margin:10px 0;
    display:block;
}