<div class="page-header"><h1>Appointment</h1></div>
<div class="page-container">
    <md-card>
        <md-card-content>
            <div class="tools">
                <h4 *ngIf="step < 5">Step {{ step }} of 4</h4>
                <h4 *ngIf="step === 5">Done</h4>
                <div *ngIf="step == 1">
                    <input type="file" (change)="changeListener($event)" class="form-control">
                </div>
                <div *ngIf="step == 2">
                    <p>Assign the columns to the correct fields using and verify the data, once ready click the check to validate the data</p>
                    <md-error *ngIf="errorMsg && errorMsg.length > 0" class="error-msg">
                        {{ errorMsg }}
                    </md-error><br>
                    <button (click)="goBack()" md-raised-button>Back</button>
                    <button (click)="validateData()" color="primary" [disabled]="inprogress" md-raised-button>Next</button>
                </div>
                <div *ngIf="step == 3">
                    <p>Find addresses</p>
                    <button (click)="goBack()" md-raised-button>Back</button>
                    <button (click)="validateAddress()" color="primary" [disabled]="inprogress" md-raised-button>Next</button>
                </div>
                <div *ngIf="step == 4">
                    <p>Submit to import</p>
                    <button (click)="goBack()" md-raised-button>Back</button>
                    <button (click)="syncTasks()" color="primary" [disabled]="inprogress" md-raised-button>Submit</button>
                </div>
                <div *ngIf="step == 5">
                    <p>Done</p>
                    <button (click)="reset()" md-raised-button>Back</button>
                </div>
            </div>
            {{ successCells | json }}
            <hr>
            <div class="container">
                <table class="table" *ngIf="csvData && csvData.length > 0">
                    <tr>
                        <td *ngFor="let col of csvData[0]; let i = index">
                            <div *ngIf="step <= 2">
                                <select [name]="'col'+i" [id]="'col'+i" value="3" [(ngModel)]="fieldsIdx[i]" class="form-control">
                                    <option value="None" selected>None</option>
                                    <option value="Name">Name</option>
                                    <option value="Email">Email</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Address">Address</option>
                                </select>
                            </div>
                            <div *ngIf="step > 2">
                                {{ fieldsIdx[i] }}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let row of csvData; let i = index" [hidden]="!includeArr[i] && step >= 3" [class.success-cell]="hasSuccess(i,0)">
                        <td *ngFor="let col of row; let a = index" [class.error-cell]="hasError(i,a)" [class.success-cell]="hasSuccess(i,a)">
                            <div>
                                <div *ngIf="includeArr[i] && step === 2">
                                    <input type="text" placeholder="" [(ngModel)]="row[a]" class="form-control">
                                </div>
                                <div *ngIf="!includeArr[i] || step !== 2">
                                    {{ row[a] }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <md-checkbox color="primary" [(ngModel)]="includeArr[i]" (change)="updateView()" *ngIf="step <= 2"></md-checkbox>
                        </td>
                    </tr>
                </table>
            </div>
        </md-card-content>
    </md-card>
</div>